:root {
  --background-color-main: #ffffff;
  --active-color: #2196f3;
  --font-color: #212121;
  --font-color-logo: #2196f3;
  --font-color-logo-header: #000000;
  --font-color-logo-footer: #ffffff;
  --font-color-dark-background: #ffffff;
  --font-color-footer: #ffffff;
  --font-color-footer-with-alpha: #ffffff99;
  --font-color-contact-header: #757575;
  --background-color-section: #2f303a;
  --background-color-border: #eeeeee;
  --background-color-team: #f5f4fa;
  --background-color-btn-unactive: #f5f4fa;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color-main);
  color: var(--font-color);
  font-size: 14px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  text-decoration: none;
  font-weight: 700;
  color: var(--font-color-logo);
}

.logo-header {
  color: var(--font-color-logo-header);
}

.logo-footer {
  color: var(--font-color-logo-footer);
}

.navigation {
  list-style: none;
}

.navigation-link {
  text-decoration: none;
  color: var(--font-color);
  font-weight: 500;
  font-size: 15px;
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--active-color);
}

.contact-header-item {
  text-decoration: none;
  color: var(--font-color-contact-header);
  font-weight: 500;
  font-size: 14px;
}

.contact-header-item:hover,
.contact-header-item:focus {
  color: var(--active-color);
}

.footer {
  background-color: var(--background-color-section);
}

.contact-footer-address {
  text-decoration: none;
  font-style: normal;
  color: var(--font-color-footer);
}

.contact-footer-link {
  color: var(--font-color-footer-with-alpha);
  text-decoration: none;
  font-style: normal;
}

.contact-footer-address:hover,
.contact-footer-address:focus,
.contact-footer-link:hover,
.contact-footer-link:focus {
  color: var(--active-color);
}

/* HEADER I FOOTER ZAKONCZONE */
/* STRONA INDEX */
.hero {
  background-color: var(--background-color-section);
}
.title-side {
  font-weight: 900;
  font-size: 44px;
  text-align: center;
  color: var(--font-color-dark-background);
}

.btn-order {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: var(--font-color);
  /* button ma domyslne color: #000000 */
  background-color: var(--background-color-btn-unactive);
}

.btn-order:hover,
.btn-order:focus {
  background-color: var(--active-color);
  color: var(--font-color-dark-background);
}
/* STRONA PORTFOLIO */
