:root {
  --background-page-color: #e5e5e5;
  --active-color: #2196f3;
  --font-color: #212121;
  --color-logo2: #000000;
  --brand-color-grey: #757575;
  --brand-color-white: #ffffff;
  --brand-color-black: #000000;
  --brand-color-background: #2f303a;
  --brand-color-background-border: #eeeeee;
  --brand-color-background-team: #f5f4fa;
}

body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  background-color: var(--background-page-color);
  color: var(--font-color);
}

.blue-logo {
  color: var(--active-color);
}

.logo {
  font-size: 26px;
  text-decoration: none;
  font-weight: 700;
  color: var(--color-logo2);
}

.navigation {
  text-decoration: none;
  color: var(--font-color);
  font-weight: 500;
  font-size: 15px;
}
.navigation:hover,
.navigation:focus {
  color: var(--active-color);
}

.contact-header {
}

.contact-header:hover,
.contact-header:focus {
  color: var(--active-color);
}
